<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willkernel.app.javadesignmode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AbstractFactoryActivity" />
        <activity android:name=".ui.FactoryMethodActivity" />
        <activity android:name=".ui.BuildModeActivity" />
        <activity android:name=".ui.PrototypeActivity" />
        <activity android:name=".ui.AdapterModeActivity" />
        <activity android:name=".ui.DecoratorModeActivity" />
        <activity android:name=".ui.ProxyModeActivity" />
        <activity android:name=".ui.FacadeModeActivity" />
        <activity android:name=".ui.BridgeModeActivity" />
        <activity android:name=".ui.CompositeModeActivity" />
        <activity android:name=".ui.FlyweightModeActivity" />
        <activity android:name=".ui.StrategyModeActivity" />
        <activity android:name=".ui.TemplateMethodActivity" />
        <activity android:name=".ui.ObserverActivity" />
        <activity android:name=".ui.IteratorActivity" />
        <activity android:name=".ui.ResponsibilityChainActivity"></activity>
    </application>

</manifest>